body {
    font-family: sans-serif;
    background: #f0f2f5;
    text-align: center;
    padding: 2rem;
  }
  
  #tracker {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    min-width: 300px;
    margin: 0 auto;
    flex: 2;
  }
  
  .card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .status {
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
  }
  
  .Pending {
    background: lightgray;
  }
  
  .Ongoing {
    background: gold;
  }
  
  .Completed {
    background: lightgreen;
  }
  .layout{
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
  }
  #chart-wrapper{
    flex: 1;
    min-width: 250px;
    max-width: 100%;
  }
  #progressChart{
    width: 100%;
    height: auto;
  }
  #toggleChart{
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border:none;
    border-radius: 5px;
    background: #007acc;
    color: white;
    cursor: pointer;
  }
  #toggleChart:hover{
    background: #005ea3;
  }